body {
    height: fit-content;
    background-color: #eef3f8;
}

html {
    scroll-padding: 70px;
}

.navbar {
    background-color: white;
}

.img {
    width: 150px;
    margin-top: -10px;
}

.card {
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
}

.card-img-top {
    width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    margin-bottom: 5px;
}

.navbar-toggle {
    width: 47px;
    height: 34px;
    background-color: #eef3f8;
}

.navbar-toggle .icon-bar {
    width: 100%;
    float: left;
    height: 2px;
    background-color: black;
}

.fa {
    color: grey;
}

.prof-pic {
    float: left;
    width: 30px;
    margin: 0 8px 5px 0;
}